#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
#hourlyForecast {
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  scrollbar-width: none;
  align-items: start;
}
